"E:\workspace\07_Node_JS_Complete_Files\06-Node-JS-npm-module-bcrypt js\node_modules"
"E:\workspace/07_Node_JS_Complete_Files/06-Node-JS-npm-module-bcrypt js/node_modules"

"E:\workspace\07_Node_JS_Complete_Files\07-Node-JS-npm-jsonwebtoken\node_modules"
"E:\workspace/07_Node_JS_Complete_Files/07-Node-JS-npm-jsonwebtoken/node_modules"

"E:\workspace\07_Node_JS_Complete_Files\08-Node-JS-npm-dotenv\node_modules"
"E:\workspace/07_Node_JS_Complete_Files/08-Node-JS-npm-dotenv/node_modules"

"E:\workspace\07_Node_JS_Complete_Files\09-Node-js-npm-module-gravatar\node_modules"
"E:\workspace/07_Node_JS_Complete_Files/09-Node-js-npm-module-gravatar/node_modules"
